 .u-section-1 {
  background-image: url("images/dd-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 830px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: none;
  letter-spacing: normal;
  width: 669px;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 168px auto 0;
  padding: 83px 197px 84px 196px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 57px 297px 0 auto;
  padding: 7px 56px 7px 54px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 114px 682px 0 26px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -39px -91px 60px 661px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 508px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 451px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 361px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 261px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}