 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1335px;
}

.u-section-1 .u-table-1 {
  width: 1185px;
  margin: 20px -23px 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-1 .u-table-body-1 {
  font-size: 1rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-top: 48px;
    margin-bottom: 46px;
    width: 340px;
  }
}